<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{/css/AdminLTE.min.css}"/>
    <link rel="stylesheet" th:href="@{/js/datatables/jquery.dataTables.css}"/>
    <link href="http://cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet"/>
    <link href="https://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/js/pace/pace.min.css}"/>
    <link rel="stylesheet" th:href="@{/js/icheck/red.css}"/>
    <link rel="stylesheet" href="//cdn.bootcss.com/toastr.js/latest/toastr.min.css"/>
    <link rel="stylesheet" th:href="@{/css/zoom/zoom.css}"/>
    <link href="https://cdn.bootcss.com/awesome-bootstrap-checkbox/1.0.1/awesome-bootstrap-checkbox.min.css"
          rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
    <link rel="stylesheet" th:href="@{/css/zoom/zoomify.min.css}"/>
    <link href="https://cdn.bootcss.com/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
</head>
<body class="skin-blue fixed sidebar-mini">
<div layout:fragment="modal"></div>
<div class="modal" id="resetModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">修改管理员</h4>
            </div>
            <div class="modal-body">
                <form id="resetModalForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">旧密码</label>
                        <div class="col-sm-10">
                            <span id="uid" name="uid" hidden="true"><shiro:principal property="id"/></span>
                            <input type="password" class="form-control" id="oldPassword" name="oldPassword"
                                   placeholder="请输入旧密码"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">新密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="newPassword" name="newPassword"
                                   placeholder="请输入新密码"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">确认密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="confirm-password"
                                   name="confirm_password"
                                   placeholder="请输入确认密码"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="restModalBtn">修改</button>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div th:replace="fragments/header :: main"></div>
    <aside class="main-sidebar" layout:fragment="sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar" style="height: auto;">
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li th:classappend="${index == 'home'} ? 'active'">
                    <a th:href="@{/}">
                        <i class="fa fa-dashboard"></i> <span>控制台</span>
                        <span class="pull-right-container"></span>
                    </a>
                </li>
                <li th:each="menu : ${session.menus}"
                    th:classappend="${index == menu.menuGroupKey} ? 'active'"
                    shiro:hasAnyPermissions="${menu.permissions}">
                    <a href="#">
                        <i class="fa" th:classappend="${menu.icon}"></i>
                        <span th:text="${menu.menuGroupName}">管理员管理</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu" th:if="${#lists.size(menu.menuItems)}">
                        <li shiro:hasPermission="${menuSub.permission}" th:each="menuSub: ${menu.menuItems}"
                            th:classappend="${son == menuSub.key} ? 'active'">
                            <a th:href="@{{url}(url=${menuSub.url})}" th:text="${menuSub.name}"></a>
                        </li>
                    </ul>
                </li>

                <li class="treeview" th:if="${session.settings!=null}"
                    shiro:hasAnyPermissions="${session.settings.permissions}"
                    th:classappend="${index == 'setting'} ? 'active'">
                    <a href="#">
                        <i class="fa   fa-cog"></i><span>设置</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li th:each="menuSub: ${session.settings.menuItems}"
                            shiro:hasPermission="${menuSub.permission}"
                            th:classappend="${son == menuSub.key} ? 'active'">
                            <a th:href="@{{url}(url=${menuSub.url})}" th:text="${menuSub.name}"></a></li>
                    </ul>
                </li>
                <li class="treeview" th:if="${session.develops!=null and session.develop!=null}"
                    th:classappend="${index == 'develop'} ? 'active'">
                    <a href="#">
                        <i class="fa fa-cogs"></i><span>开发者选项</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li th:each="menuSub: ${session.develops.menuItems}"
                            th:classappend="${son == menuSub.key} ? 'active'">
                            <a th:href="@{{url}(url=${menuSub.url})}" th:text="${menuSub.name}"></a></li>
                    </ul>
                </li>

                <li class="treeview" th:if="${session.activity!=null and session.activities!=null}"
                    th:classappend="${index == 'activity'} ? 'active'">
                    <a href="#">
                        <i class="fa fa-american-sign-language-interpreting"></i><span>活动模块</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li th:each="menuSub: ${session.activities.menuItems}"
                            th:classappend="${son == menuSub.key} ? 'active'">
                            <a th:href="@{{url}(url=${menuSub.url})}" th:text="${menuSub.name}"></a></li>
                    </ul>
                </li>

            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <div class="content-wrapper">
        <div layout:fragment="content">
            主题内容
        </div>
    </div>
</div>
<script type="text/javascript" src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/app.min.js}"></script>
<script src="//cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.js"></script>
<script type="text/javascript" th:src="@{/js/datatables/jquery.dataTables.js}"></script>
<script type="text/javascript" src="//cdn.bootcss.com/toastr.js/latest/toastr.min.js"></script>
<script type="text/javascript" th:src="@{/js/pace/pace.min.js}"></script>
<script type="text/javascript" th:src="@{/js/util.js}"></script>
<script type="text/javascript" src="//cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/moment.min.js"></script>
<script type="text/javascript"
        src="//cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/daterangepicker.min.js"></script>
<script type="text/javascript" th:src="@{/js/daterangepickerInit.js}"></script>
<script type="text/javascript" src="//cdn.bootcss.com/jquery.form/4.2.1/jquery.form.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/jquery-validate/1.16.0/jquery.validate.min.js"></script>
<script type="text/javascript" th:src="@{/js/validate_config.js}"></script>
<script type="text/javascript" th:src="@{/js/zoom/zoom.js}"></script>
<script src="//cdn.bootcss.com/moment.js/2.22.0/locale/zh-cn.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.22.0/moment.min.js"></script>
<script type="text/javascript" th:src="@{/js/zoom/zoomify.min.js}"></script>
<script src="//cdn.bootcss.com/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script type="text/javascript">
    var uid = $('#uid').html();

    function logout() {
        $.ajax({
            url: "/logout",
            type: "post",
            success: function (data) {
                location.reload(true);
            }
        })
    }

    function reset() {
        var valid = $('#resetModalForm').valid();
        if (valid) {
            $('#resetModalForm').ajaxSubmit({
                url: '/admins/reset',
                type: 'POST',
                dataType: "json",
                clearForm: false,
                data: {
                    "uid": uid
                },
                // beforeSubmit: beforeSubmit,  // pre-submit callback
                success: function (data) {
                    if (data['code'] == 200) {
                        toastr.success('修改成功');
                        $('#resetModal').modal('hide');
                        resetForm('resetModalForm');
                    }
                },
                error: function (xhr) {
                    var jsonObj = JSON.parse(xhr.responseText);
                    if (xhr.status == 400) {
                        toastr.error(jsonObj['msg']);
                    } else {
                        toastr.error('修改错误');
                    }
                }
            })
        }
    }

    $('#resetModal').on('hidden.bs.modal', function (e) {
        resetForm('resetModalForm');
    });

    $(document).ready(function () {
        $('#resetModalForm').validate({
            rules: {
                oldPassword: {
                    required: true,
                    minlength: 6,
                    maxlength: 20,
                },
                newPassword: {
                    required: true,
                    minlength: 6,
                    maxlength: 20
                },
                confirm_password: {
                    required: true,
                    minlength: 6,
                    maxlength: 20,
                    equalTo: '#newPassword'
                }
            },
            messages: {
                confirm_password: {
                    equalTo: "两次密码输入不一致"
                },
            }
        });
        $('#restModalBtn').on('click', function (e) {
            e.preventDefault();
            reset();
        });

        $('#logout').on('click', function (e) {
            e.preventDefault();
            logout();
        });

    });
    $(document).ajaxStart(function () {     //进度条
        Pace.restart();
    })
</script>
<div layout:fragment="js"></div>
</body>
</html>